/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: black;
  padding: 20px;
  /* fine debug */
}

.logo img {
  width: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie {
  /* debug */
  width: 100px;
  height: 200px;
  background: lightblue;
  border:1px solid black;
  margin: 20px;
  text-align: center;
  /* fine debug */
}
.movie > * {
  margin: 10px;
}
