/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: black;
  padding: 20px;
  /* fine debug */
}

.logo img {
  width: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie,.series {
  /* debug */
  min-width: 200px;
  height: 300px;
  background: lightblue;
  border:1px solid black;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  /* fine debug */
}
.movie > *,
.series > *
 {
  margin: 10px;
}

/* REGOLE DI DEbug */

.movie img,
.series img {
  width: 50px;
  border-radius: 50%;
}
main h1 {
  text-align: center;
}
