/* regole generali */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.title {
  text-align: center;
  padding-top:300px;
  color:white;
}
body{
  background-color: #141414;
}
/* Chrome/Edge/Safari scrollbar */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #141414;
}
*::-webkit-scrollbar-thumb {
  background-color: #dc1a28;
  border-radius: 20px;
  border: 3px solid #dc1a28;
}
/* Regole header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%);
  padding:0 20px;
}

.search > input {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
  font-family: sans-serif;
}
.search > button {
  background: none;
  border: none;
  color: #fff;
}
.search > button > i {
  font-size: 20px;
  cursor: pointer;
}
/* Navbar */
.navbar {
  color:#fff;
  width: 100px;
  text-align: center;
}
.dropdown {
  position: absolute;
  top:90px;
  display:none;
  width: 100%;
  height: 20px;
  left:0;
}
.dropdown > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  color:#fff;
  flex-wrap: wrap;
}
.dropdown > ul > li {
  width: calc(100% / 9);
  margin:4px 0;
}
.active {
  display: block;
}

/* logo boolfix */

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 60%;
}

/* regole main */
main {
  position: relative;
  height: calc(100vh - 150px);
  scrollbar-width: thin; /* Firefox scrollbar */
  scrollbar-color: #dc1a28 #141414; ;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  height: 100%;
  padding: 0 40px;
  margin-top:50px;
}
.movie,.series {
  margin: 5px;
}

/* Regole on hover poster e dettagli testo */
.poster {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  transition: transform 0.7s;
}
.poster > p {
  position: absolute;
  top: 0;
  z-index: 1;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
  font-size: 15px;
  right: 10px;
  font-weight: bold;
	/* text-shadow: 0px 1px 4px #23430C; */
  text-shadow: -1px 0 #23430C, 0 1px #23430C, 1px 0 #23430C, 0 -1px #23430C, -2px -2px 10px #23430C;
  padding: 5px;
}
.poster img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.poster:hover .hover{
  display: block;
  color:white;
}
nav:hover div.movie > .poster,
nav:hover div.series > .poster{
  opacity: 0.3;
}
nav > div.movie > div.poster:hover,
nav > div.series > div.poster:hover{
  z-index: 1;
  transform:scale(1.2);
  box-shadow: 2px 0px 10px rgb(0, 0, 0, .7);
  opacity: 1;
}
.poster:hover .hover i{
  color:yellow;
}
/* POSTER TEXT  */
.title_1{
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: -1px 0 #23430C, 0 1px #23430C, 1px 0 #23430C, 0 -1px #23430C, -2px -2px 10px #23430C;
}
.title_2 {
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
  text-shadow: -1px 0 #23430C, 0 1px #23430C, 1px 0 #23430C, 0 -1px #23430C, -2px -2px 10px #23430C;
}
.actors {
  font-size: 14px;
  font-style: oblique;
  margin: 5px;
  font-family: sans-serif;
}
.overview {
  font-size: 13px;
  font-family: sans-serif;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin:10px auto;
}
.genre {
  display: flex;
  justify-content: center;
  width: 100%;
}
.genre span{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
  font-size: 10px;
  color:#fff;
  margin: 0px 10px;
  font-weight: bold;
  border: 1px solid #dc1a28;
  border-radius: 2px;
  padding: 3px;
}
.genre > span:hover {
  background-color:#dc1a28;
  color:#fff;
  cursor: pointer;
}
/* regole hover */
.hover {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 55%, rgba(20,20,20,0.75) 75%, rgba(20,20,20,0) 100%);
  opacity: 1;
  z-index: 1;
}
.hover_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.img_lenguage {
  width: 30px;
}
.img_lenguage > img {
  border-radius: 50%;
}

/* <div class="series" v-for="serie in allFilmTv" @mouseenter="filterCastGenre(serie.id)">

  <div class="poster">

    <img :src="serie.poster_path" alt="">
    <p>Serie TV</p>

    <div class="hover">
      <div class="hover_items">

       <p class="title_1">{{serie.name}}</p>
       <p class="title_2">{{serie.original_name}}</p>

       <!-- //MILESTONE 5 -->
       <div class="actors">
         <span v-for="actor in actorsSeries">{{actor.name}}, </span>
       </div>
       <!-- // MILESTONE 5 -->
       <div class="overview" v-if="serie.overview">
          {{serie.overview}}
       </div>
       <div class="overview" v-else>
         Overview: non disponibile.
       </div>

       <div class="bottom">

         <div class="img_lenguage">

           <img :src="'img/' + serie.original_language +'.png'" @error="imgPlaceholder">
           <!-- se la lingua sarà uguale a en allora andrà a prendere il riferiemento all'img nella proprietà en altrimenti a it -->

         </div>
         <div class="vote">

           Voto:
           <i v-for="number in getStars(serie.vote_average)"
           class="fas fa-star"></i>
           <i v-for="number in (5 - getStars(serie.vote_average))" class="far fa-star"></i>

         </div>

       </div>
       <div class="genre">
         <span v-for="genre in genreSeries">{{genre.name}} </span>
       </div>

     </div> <!-- Fine div hover_items -->
    </div> <!-- Fine div hover -->

  </div> <!-- Fine div poster -->

</div> <!-- Fine div series --> */
