<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title>Vue boolfix by Christian Pucci</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">


  </head>

  <body>

    <div id = "root">

      <header>

        <div class="logo"> <!-- logo boolfix -->
          <img :src="logo" alt="">
          <div
          class="navbar"
          @click="dropFilm()"
          :class="{'border' : showDropFilm}" >
            <p>Film</p>
            <div class="dropdown":class="{'active' : showDropFilm}" onload="showDropTv = false">
             <ul>

               <li @click="bygenreFilm(28)">Action</li>
               <li @click="bygenreFilm(12)">Adventure</li>
               <li @click="bygenreFilm(16)">Animation</li>
               <li @click="bygenreFilm(35)">Comedy</li>
               <li @click="bygenreFilm(80)">Crime</li>
               <li @click="bygenreFilm(99)">Documentary</li>
               <li @click="bygenreFilm(18)">Drama</li>
               <li @click="bygenreFilm(10751)">Family</li>
               <li @click="bygenreFilm(14)">Fantasy</li>
               <li @click="bygenreFilm(36)">History</li>
               <li @click="bygenreFilm(27)">Horror</li>
               <li @click="bygenreFilm(10402)">Music</li>
               <li @click="bygenreFilm(9648)">Mystery</li>
               <li @click="bygenreFilm(10749)">Romance</li>
               <li @click="bygenreFilm(878)">Science Fiction</li>
               <li @click="bygenreFilm(10770)">Tv Movie</li>
               <li @click="bygenreFilm(53)">Thriller</li>
               <li @click="bygenreFilm(10752)">War</li>

             </ul>
            </div>
          </div>
          <div
          class="navbar"
          @click="dropTv()"
          :class="{'border' : showDropTv}">
            <p>Serie tv</p>
            <div class="dropdown tv":class="{active : showDropTv}">
             <ul>

               <li @click="bygenreTv(10759)">Action</li>
               <li @click="bygenreTv(16)">Animation</li>
               <li @click="bygenreTv(37)">Western</li>
               <li @click="bygenreTv(35)">Comedy</li>
               <li @click="bygenreTv(80)">Crime</li>
               <li @click="bygenreTv(99)">Documentary</li>
               <li @click="bygenreTv(18)">Drama</li>
               <li @click="bygenreTv(10751)">Family</li>
               <li @click="bygenreTv(10762)">Kids</li>
               <li @click="bygenreTv(10763)">News</li>
               <li @click="bygenreTv(10764)">Reality</li>
               <li @click="bygenreTv(10765)">Fantasy</li>
               <li @click="bygenreTv(9648)">Mystery</li>
               <li @click="bygenreTv(10766)">Soap</li>
               <li @click="bygenreTv(10767)">Talk</li>
               <li @click="bygenreTv(10768)">War & Politics</li>

             </ul>
            </div>
          </div>

        </div>

          <!-- dropdown per scelta genere tra film e serie tv -->

        <div class="search"> <!-- search bar -->
          <button
            type="button"
            name="button"
            @click="filter()">
            <i class="fas fa-search"></i>
          </button>
          <input
           type="text"
           v-model="search"
           @keyup.enter="filter()">
        </div>

      </header>

      <!---  FINE HEADER-------------->
      <main>

        <div class="header_bottom">
          <!-- Titolo ad apertura pagina -->
          <h1 class="show_genre" :class="{hide:allFilmTv.length == 0}">{{title}}</h1>
           <!-- MILESTONE EXTRA CAMBIO PAGINA -->
          <div class="page" v-if="totalPages > 1 && search != ''">
            <i @click="prevPage()" v-if="page > 1" class="fas fa-chevron-left"></i>
            {{page}} of {{totalPages}}
            <i @click="nextPage()" v-if="page < totalPages" class="fas fa-chevron-right"></i>
          </div>

        </div>

        <nav v-if="allFilmTv.length != 0">
        <!--- la funzione verrà richiamata ogni volta che il mouse entra in questo elemento-->
          <div
          class="movie"
          v-for="(movie,i) in allFilmTv" @mouseenter="filterCastGenre(movie.id)">

            <div class="poster">

              <img :src="movie.poster_path" alt="" >
              <p v-if="movie.title !== undefined">Film</p>
              <p v-else>Serie TV</p>

              <div class="hover">
               <div class="hover_items">

                <p class="title_1">{{movie.title || movie.name}}</p>
                <p v-if="movie.title != movie.original_title || movie.name != movie.original_name" class="title_2">{{movie.original_title || movie.original_name}}</p>

                <!-- //MILESTONE 5 -->
                <div class="actors">
                  <span v-for="actor in actorsMovies">{{actor.name}}, </span>
                </div>
                <!-- // MILESTONE 5 -->
                <div class="overview" v-if="movie.overview">
                   {{movie.overview}}
                </div>
                <div class="overview" v-else>
                  Overview: non disponibile.
                </div>
                <!-- Milestone 2 : stamperò tante stelle colorate quanto sarà il voto_average dell film ciclato  se il voto è 6 lui ritornerà 3 dalla funzione e stamperà 3 icone <i> -->
                <!-- Poi stamperò le stelle non colorate e sarà una semplice somma tra 5 che è il numero di stelle che voglio meno le stelle colorate.
                Nel caso commentato sopra se avrò 3 stelle colorate farà 5-3 = 2  e mi stamperà 2 stelle vuote. -->
                <div class="bottom">

                  <div class="img_lenguage">

                    <img :src="'img/' + movie.original_language +'.png'" @error="imgPlaceholder">
                    <!-- se la lingua sarà uguale a en allora andrà a prendere il riferiemento all'img nella proprietà en altrimenti a it -->

                  </div>
                  <div class="vote">

                    Voto:
                    <i v-for="number in getStars(movie.vote_average)"
                    class="fas fa-star"></i>
                    <i v-for="number in (5 - getStars(movie.vote_average))" class="far fa-star"></i>

                  </div>

                </div>
                <div v-if="movie.title !== undefined" class="genre">
                  <span @click="bygenreFilm(genre.id)" v-for="genre in genreMovies">{{genre.name}} </span>
                </div>
                <div v-else class="genre">
                  <span @click="bygenreTv(genre.id)" v-for="genre in genreSeries">{{genre.name}} </span>
                </div>

              </div> <!-- Fine div hover_items -->
             </div> <!-- Fine div hover-->
            </div> <!-- Fine div poster -->

          </div> <!-- Fine div movie -->

        </nav> <!-- Fine nav -->

        <div v-else class="title">
          <h1>Nessun risultato trovato dalla tua ricerca!</h1>
        </div>

      </main> <!-- Fine main -->

    </div> <!-- Fine root -->

    <script type="text/javascript" src="js/script.js">
    </script>

  </body>

</html>
